/* CSS declarations go here */
h1 {
	color: white;
	text-align: center;
	font-family: 'Delius', cursive;
}
h2 {
	color:black;
	text-align: center;
	font-family: cursive;
}
h3 {
	color: white;
	text-align: center;
	font-family: 'Delius', cursive;
}
body{
	background-color: lightblue;
}

p.description{
	color: white;
	text-align: center;
}

.headingSize{
	padding-top:.02px;
	background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image:  linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
	height: 85px;
}
.shadow{
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.caption{
	background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image:  linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
	height: 90px;
}
 
#gray {
	display: none;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
}

.thumbnail:hover{
	background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image:  linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
}
.galleryImage{
	position: relative;
    /*border: 3px solid #73AD21;*/
}
.glyphicon.glyphicon-remove {
    font-size: 50px;
	display:block;
    text-align:right;
	padding-right:100px;
	color:white;
}
.glyphicon.glyphicon-remove:hover {
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-right{
    text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
    top: 250px;
    right: 0;
    width: 100px;
    height: 100px;
}
.glyphicon.glyphicon-chevron-right:hover{
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-left{
    text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
    top: 250px;
    left: 0;
    width: 100px;
    height: 100px;
}
.glyphicon.glyphicon-chevron-left:hover{
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-right.crossfire{
    text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
    width: 100px;
	left: 800px;
    height: 100px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.glyphicon.glyphicon-chevron-right.crossfire:hover{
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-left.crossfire{
    display:none;
	text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
	left: -105px;
    width: 100px;
    height: 100px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.glyphicon.glyphicon-chevron-left.crossfire:hover{
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-right.ball{
    text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
    width: 100px;
	left: 800px;
    height: 100px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.glyphicon.glyphicon-chevron-right.ball:hover{
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-left.ball{
    display:none;
	text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
	left: -105px;
    width: 100px;
    height: 100px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.glyphicon.glyphicon-chevron-left.ball:hover{
	color:  #00ccff;
}
div.caughtInTheCrossfire{
	display:none;
}
div.theBall{
	display:none;
}
div.page1{
	position: relative;
	background-color:white;
	width:800px;
	height:590px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
}
div.page1again{
	background-color:white;
	width:800px;
	height:590px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	position: relative;
}
div.page{
	position:absolute;
	top: 194px;
	right:50px;
	left: 50px;
	display: none;
	background-color:white;
	width:800px;
	height:590px;
	margin: auto;
	padding-top:20px;
	padding-left:50px;
	padding-right:50px;
}
div.newPage{
	position:relative;
	top: -560px;
	display: none;
	background-color:white;
	width:800px;
	height:590px;
	margin: auto;
	padding-top:20px;
	padding-left:50px;
	padding-right:50px;
}
div.snowflakes{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.followMe{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.swanSong{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.complete{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.letMeIn{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.ramblings{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.optimist{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.heroes{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.bittersweet{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.justBreathe{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
.container { 
	height: 594px;
    overflow: hidden; 
}
.linkSize{
	font-size: 25px;
	font-family: "Arial Black", Gadget, sans-serif;
}
.width{
	width: 1000px;
}
.font-size{
	font-size: 95%;
	text-align: left;
	color: white;
	background: -webkit-linear-gradient(left top, #0066ff, #99c2ff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #0066ff, #99c2ff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right,#0066ff, #99c2ff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #0066ff, #99c2ff); /* Standard syntax */
}
.login-link-text{
	color: black;
	font-size: 120%;
}
#login-buttons {
    position: absolute;
	top: 0px;
	right: 10px;
}
.login-link-and-dropdown-list {
    position: relative;
	right:160px;
}
.list-group.comments{
	border: 1px solid #99c2ff;
}
div.commentBoxContainer{
	background-color:white;
	border: 1px solid #99c2ff;
}
#share-buttons img {
width: 35px;
padding: 5px;
border: 0;
box-shadow: 0;
display: inline;
}
.homePic{
	position:relative;
}
.share{
	position:relative;	
}
.cover{
	
}
.width1{
	width:600px;
}


