/* CSS declarations go here */
h1 {
	color: white;
	text-align: center;
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
}
h2 {
	color:black;
	text-align: center;
	font-family: cursive;
}
h3 {
	color: white;
	text-align: center;
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
}
.fixedTop{
	position: fixed;
	top: 0px;
	width: 100%;
	background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image:  linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
	height: 85px;
	clear: both;
}
.frogNavbar{
	position: relative;
	bottom: 10px;
}
.navbarTop{
	top: 80px;
}
body{
	margin-top: 150px;
	background-color: lightblue;
}
p.description{
	color: white;
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	text-align: center;
}

.headingSize{
	padding-top:.02px;
	
	z-index: 1;
}
.shadow{
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
} 

#gray {
	display: none;
    position:fixed;
    padding:0;
    margin:0;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
}
.thumbnail:hover{
	background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image:  linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
}
.galleryImage{
	position: relative;
    /*border: 3px solid #73AD21;*/
}
.glyphicon.glyphicon-remove {
    font-size: 50px;
	display:block;
    text-align:right;
	padding-right:100px;
	color:white;
}
.glyphicon.glyphicon-remove:hover {
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-right{
    text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
    top: 250px;
    right: 0;
    width: 100px;
    height: 100px;
}
.glyphicon.glyphicon-chevron-right:hover{
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-left{
    text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
    top: 250px;
    left: 0;
    width: 100px;
    height: 100px;
}
.glyphicon.glyphicon-chevron-left:hover{
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-right.crossfire{
    text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
    width: 100px;
	left: 800px;
    height: 100px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.glyphicon.glyphicon-chevron-right.crossfire:hover{
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-left.crossfire{
    display:none;
	text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
	left: -105px;
    width: 100px;
    height: 100px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.glyphicon.glyphicon-chevron-left.crossfire:hover{
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-right.ball{
    text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
    width: 100px;
	left: 800px;
    height: 100px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.glyphicon.glyphicon-chevron-right.ball:hover{
	color:  #00ccff;
}
.glyphicon.glyphicon-chevron-left.ball{
    display:none;
	text-align: center;
	font-size: 50px;
	color:white;
	position: absolute;
	left: -105px;
    width: 100px;
    height: 100px;
	text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.glyphicon.glyphicon-chevron-left.ball:hover{
	color:  #00ccff;
}
div.caughtInTheCrossfire{
	display:none;
}
div.theBall{
	display:none;
}
div.page1{
	position: relative;
	background-color:white;
	width:800px;
	height:590px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
}
div.page1again{
	background-color:white;
	width:800px;
	height:590px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	position: relative;
}
div.page{
	position:absolute;
	top: 194px;
	right:50px;
	left: 50px;
	display: none;
	background-color:white;
	width:800px;
	height:590px;
	margin: auto;
	padding-top:20px;
	padding-left:50px;
	padding-right:50px;
}
div.newPage{
	position:relative;
	top: -560px;
	display: none;
	background-color:white;
	width:800px;
	height:590px;
	margin: auto;
	padding-top:20px;
	padding-left:50px;
	padding-right:50px;
}
div.snowflakes{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.followMe{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.swanSong{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.complete{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.letMeIn{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.ramblings{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.optimist{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.heroes{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.bittersweet{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
div.justBreathe{
	background-color:white;
	width:800px;
	margin: auto;
	padding-left:50px;
	padding-right:50px;
	padding-bottom:50px;
	display:none;
}
.container1 { 
	height: 594px;
    overflow: hidden; 
}
.linkSize{
	font-size: 25px;
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	color:black;
}
.width{
	width: 1000px;
}
.font-size{
	font-size: 95%;
	text-align: left;
	color: white;
	background: -webkit-linear-gradient(left top, #0066ff, #99c2ff); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, #0066ff, #99c2ff); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right,#0066ff, #99c2ff); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to bottom right, #0066ff, #99c2ff); /* Standard syntax */
}
.submit{
	position:relative;
	left:995px;
}
.cancel{
	position:relative;
	left:1000px;
}
.commentsSize{
	width:1175px;
}
.commentsPosition{
	position: relative;
	left: 100px;
}
.login-link-text{
	color: white;
	font-size: 120%;
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	position: relative;
	left: 150px;
	top: 5px;
}
#login-buttons {
    position: absolute;
	top: 0px;
	right: 10px;
}
.login-link-and-dropdown-list {
    position: relative;
	right:160px;
	top: 10px;
}
.list-group.comments{
	position:relative;
	border: 1px solid #99c2ff;
}
.list-group-item{
	text-align:left;
}
.cancel{
 margin: 20px;
}
div.commentBoxContainer{
	background-color:white;
	border: 1px solid #99c2ff;
}
#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}
.buttonPosition{
	position: relative;
	left: 100px;
}
.sharingButtons{
	
}
.copyright{
	position: relative;
	left: 100px;
}
.cover{
	width:750px;
	overflow:hidden;
}
.homeContainer{
	height: 600px;
	overflow:hidden;
}
.veniceDescription{
	display: none;
}
.lizardDescription{
	display:none;
}
.streamDescription{
	display: none;
}
.acDescription{
	display:none;
}
.brandeisDescription{
	display: none;
}
.catDescription{
	display:none;
}
.colorizeDescription{
	display: none;
}
.compositingDescription{
	display:none;
}
.mountains_waterDescription{
	display: none;
}
.swiss_viewDescription{
	display:none;
}
.swiss_mounatins_lens_flareDescription{
	display: none;
}
.swissDE2Description{
	display:none;
}
.FlowerDEDescription{
	display:none;
}
.into_the_sunsetDescription{
	display: none;
}
.SwissDE1Description{
	display:none;
}
.imagePlaceholder{
	
}

.thumb:hover{
	-webkit-filter: brightness(0.25); filter: brightness(0.25);
}
.sideVideo{
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.border{
	border: 1px solid black;
}
.videoDescription{
	color: white;
	text-align: center;
	font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-size: 120%;
	position: relative;
	bottom: 5px;
}

.caption{
	background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image:  linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
	height: 50px;
	width:300px;
	position: relative;
	bottom: 50px;
}

.captionContainer{
	position: absolute;
}
.lastContainer{
	padding-bottom: -50px;
	height: 200px;
	width: 300px;
	position: absolute;
}
/* Let's get this party started */
.sideVideo::-webkit-scrollbar {
    width: 12px;
	height: 5px;
}

 
/* Track */
.sideVideo::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
.sideVideo::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
	background-image:  linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.sideVideo::-webkit-scrollbar-thumb:hover {
   background-image: -webkit-linear-gradient(top, #1aa3ff 0%, #007acc 100%);
   background-image:  linear-gradient(to bottom, #1aa3ff 0%, #007acc 100%); 
}


